/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




/* common - style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}



/* header-style */
header{
    height: 677px;
    background-color: #2D25A0;
}
header:hover img{
    width: 400;
    height: 450;
    transform: rotate(45deg);

}
.header-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.watch-side{
    width: 485px;
    margin: 207px 0 0 156px;
    max-width: 80%;
}
header h4{
    margin: 0;
    font-size: 64px;
    color: white;
    margin-bottom: 27px;
    font-weight: 700;
}
header a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #E02C6D;
    padding: 8px 24px;
}
.arrow{
    margin-left: 8px;
    font-size: 16px;
}
header img{
    width: 556px;
    height: 438px;
    margin: 153px 0px 86px 40px;
    transition: width 2s, height 2s, transform 2s;
}



/* player-section style  */
.players-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 70px 210px 70px 180px;
    justify-content: center;
    
}
    
.player{
    border: 15px solid white;
    padding: 15px;
    box-shadow: 10px 10px 30px gray;
}
.player img{
    width: 300px;
    height: 256px;
}
.player h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 16px;
}
.player-info p{
    font-size: 16;
    font-weight: 400;
}




/* video-section  */
.video-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 120px;
    margin-bottom: 158px;
}




/* footer section  */
.footer-container{
    margin-bottom: 63px;
}
.footer-container img{
    width: 483px;
    height: 110;
    margin: auto;
    display: block
}
.social-icon{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
.social-icon a{
    margin: 0 7px;
    color: gray;
}
.footer-container p{
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}





/* media quaries for moble device */
@media only screen and (max-width:688px) {
    header {
        height: auto;
    }
    .header-items {
        display: block;
    }
    header:hover img{
        width: 400;
        height: 450;
        transform: rotate(0deg);
    
    }
    .watch-side {
        margin-top: 0px;
        margin-left: 16px;
        padding-top: 52px;
    }
    header h4 {
        margin: 0;
        font-size: 36px;
        font-weight: 700;
        color: white;
        margin-bottom: 30px;
        font-weight: 700;
    }
    header img {
        width: 329px;
        height: 259px;
        margin: 50px 0 61px 15px;
    }

    .players-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .player img {
        width: 330px;
        height: 447px;
    }
    .video-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
        margin-bottom: 60px;
    }
    

    .footer-container img {
    width: 275px;
    height: 65px;
    }

    
    
}